<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SinaSDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>736859E61C562720009B57F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>736859FF1C562720009B57F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73685A0A1C562720009B57F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
